server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health, prometheus, info, beans, trace
  endpoint:
    health:
      show-details: always
  tracing:
    enabled: true
    sampling:
      probability: 1.0

logging:
  pattern:
    file: "%clr(%d{yyyy-MM-dd HH:mm:ss.SSSXXX}){faint} %clr(%5level) %clr(${PID:- }){magenta} %clr(---){faint} [%applicationName] [%15.15thread] %clr([%-32X{traceId:-}-%-16X{spanId:-}]){yellow} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %msg%n"
    console: "%clr(%d{yyyy-MM-dd HH:mm:ss.SSSXXX}){faint} %clr(%5level) %clr(${PID:- }){magenta} %clr(---){faint} [%applicationName] [%15.15thread] %clr([%-32X{traceId:-}-%-16X{spanId:-}]){yellow} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %msg%n"
  level:
    org.hibernate: OFF

spring:
  application:
    name: booking-service
  profiles:
    active: "@activatedProperties@"

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        session_factory:
          observer:
            instrumentation: opentelemetry
        jdbc:
          batch_size: 50
          order_inserts: true
          order_updates: true
          fetch_size: 100
        generate_statistics: false
        default_batch_fetch_size: 10
        connection:
          autocommit: false
    # На будущее
    #        cache:
    #          use_second_level_cache: true
    #          use_query_cache: true
    #          region.factory_class: org.hibernate.cache.jcache.internal.JCacheRegionFactory
    #        jakarta.cache:
    #          provider: org.ehcache.jsr107.EhcacheCachingProvider
    #          uri: classpath:ehcache.xml
    #      sharedCache:
    #        mode: ENABLE_SELECTIVE
    open-in-view: false

  datasource:
    url: jdbc:otel:postgresql://hostelDB:5432/hostelService
    username: hostel
    password: ilia
    driver-class-name: io.opentelemetry.instrumentation.jdbc.OpenTelemetryDriver

  flyway:
    jdbc-properties:
      enabled: true
      locations:
        - db.migration
    schemas: booking

  rabbitmq:
    listener:
      direct:
        observation-enabled: true

  cloud:
    openfeign:
      micrometer:
        enabled: true

rabbitmq:
  schedules-service:
    username: schedule
    password: schedule
    virtualHost: schedule-service
    addresses: rabbitmq:5672
    connectionTimeout: 6000
  notification-service:
    username: notification
    password: notification
    virtualHost: notification-service
    addresses: rabbitmq:5672
    connectionTimeout: 6000

queueing:
  schedules-service:
    book:
      exchangeName: schedule-timeslots-exchange
      routingKey: schedule-timeslots
    cancel:
      exchangeName: schedule-timeslots-exchange
      routingKey: schedule-timeslots-cancel
    timeslot:
      exchange-name: schedule-timeslots-exchange
      queue-name: schedule-timeslots-get
      routing-key: schedule-timeslots-get

  notification-service:
    send:
      exchangeName: notification-exchange
      routingKey: notification-send

otlp:
  tracing:
    export-enabled: true
    endpoint: http://tempo:4317
    timeout: 5000
    service-name: booking-service

redisson:
  local-cache:
    cash-size: 5000
    timeout: 2000
    ttl: 86400
    max-idle: 86400
    cache-name: timeslots
  client:
    address: redis://redis-booking-cache:6379
    client-name: redisson-booking-cache


springdoc:
  swagger-ui:
    enabled: true

schedules:
  timeslots:
    path: src/main/java/ru/tpu/hostel/booking/service/old/schedules/schedules.json