openapi: 3.1.0
info:
  title: OpenAPI definition
  version: v0
servers:
- url: http://localhost:8082
  description: Generated server url
paths:
  /bookings:
    post:
      tags:
      - booking-controller
      operationId: book
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BookingTimeSlotRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookingResponse"
  /bookings/cancel/{bookingId}:
    patch:
      tags:
      - booking-controller
      operationId: cancel
      parameters:
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookingResponse"
  /bookings/cancel/by-timeslot/{timeslotId}:
    patch:
      tags:
      - booking-controller
      operationId: cancelByTimeSlot
      parameters:
      - name: timeslotId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookingResponse"
  /bookings/get/all/by/user/{userId}:
    get:
      tags:
      - booking-controller
      operationId: getAllByUserId
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BookingResponse"
  /bookings/get/all/by/type/date/{type}/{date}:
    get:
      tags:
      - booking-controller
      operationId: getAllByTypeAndDate
      parameters:
      - name: type
        in: path
        required: true
        schema:
          type: string
          enum:
          - HALL
          - INTERNET
          - GYM
      - name: date
        in: path
        required: true
        schema:
          type: string
          format: date
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BookingResponseWithUser"
  /bookings/get/all/by/status/user/{status}/{userId}:
    get:
      tags:
      - booking-controller
      operationId: getAllByStatus
      parameters:
      - name: status
        in: path
        required: true
        schema:
          type: string
          enum:
          - NOT_BOOKED
          - BOOKED
          - IN_PROGRESS
          - CANCELLED
          - COMPLETED
      - name: userId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BookingResponse"
  /bookings/get/all/by/date/{date}:
    get:
      tags:
      - booking-controller
      operationId: getAllByDate
      parameters:
      - name: date
        in: path
        required: true
        schema:
          type: string
          format: date
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BookingResponseWithUser"
  /bookings/all/booked/timeslot-id:
    get:
      tags:
      - booking-controller
      operationId: getAllByStatusShort
      parameters:
      - name: userId
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: date
        in: query
        required: true
        schema:
          type: string
          format: date
      - name: type
        in: query
        required: true
        schema:
          type: string
          enum:
          - HALL
          - INTERNET
          - GYM
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  format: uuid
components:
  schemas:
    BookingTimeSlotRequest:
      type: object
      properties:
        slotId:
          type: string
          format: uuid
      required:
      - slotId
    BookingResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        status:
          type: string
          enum:
          - NOT_BOOKED
          - BOOKED
          - IN_PROGRESS
          - CANCELLED
          - COMPLETED
        type:
          type: string
    BookingResponseWithUser:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        status:
          type: string
          enum:
          - NOT_BOOKED
          - BOOKED
          - IN_PROGRESS
          - CANCELLED
          - COMPLETED
        type:
          type: string
